option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: estimate_site.wsgi:application
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: /var/app/current:$PYTHONPATH
    DJANGO_SETTINGS_MODULE: estimate_site.settings
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 30

commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
    ignoreErrors: false
